{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if post.author-url %}
  {% assign author-url = post.author-url %}
{% elsif page.author-url %}
  {% assign author-url = page.author-url %}
{% else %}
  {% assign author-url = site.author-url %}
{% endif %}

{% capture category %}{{ post.categories | size }}{% endcapture %}
<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' %}
<footer>
  <span class="categories">
    Posted by

    {% if author-url %}
      <a href="{{ author-url }}"><span class="fn">{{ author }}</span></span></a>
    {% else %}
      <span class="fn">{{ author }}</span></span>
    {% endif %}

    in

    {{ post.categories | category_links }}
  </span>
</footer>
{% endif %}
