// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$link-color: #4670a8;
//$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25);
$link-color-hover: #ff6427;
$link-color-visited: $link-color;
$link-color-active: adjust-color($link-color-hover, $lightness: -15);

$page-bg: #4670a8;
html {
  background-color: $page-bg;
  background: image-url('bg-pattern.png') no-repeat center top, image-url('bg.jpg') center top;
}

$logo-width: 380px;
$logo-height: 344px;

body {
  > header {
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    h1 {
      display: block;

      a {
        background: image-url('logo.png') no-repeat center top;
        width: $logo-width;
        height: $logo-height;
        display: block;
        margin: 0 auto;
        text-indent: -99999px;
      }
    }

    h2 {
      display: none;
    }
  }

  > nav {
    display: none;
  }

  > div {
    background: transparent;
    border-bottom: 0;

    > div {
      background: transparent;
      border-right: 0;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  html {
    background-image: image-url('bg-pattern@2x.png'), image-url('bg.jpg');
    background-size: 979px 484px, 292px 181px;
  }

  body > header h1 a {
    background-image: image-url('logo@2x.png');
    background-size: $logo-width $logo-height;
  }
}

// iPhone portrait
@media (max-device-width: 480px) and (orientation: portrait) {
  body > header h1 a {
    width: $logo-width * .8;
    height: $logo-height * .8;
    background-size: $logo-width * .8 $logo-height * .8;
  }
}

@media (max-width: 480px) {
  #content > div, #content > article {
    padding-top: $pad-medium;
    padding-bottom: $pad-medium;
  }
}

a {
  color: $link-color;

  &:visited, {
    color: $link-color-visited;
  }

  &:hover, {
    color: $link-color-hover;
  }

  &:active, {
    color: $link-color-active;
  }
}

.toggle-sidebar {
  display: none;
}

body > footer {
  margin-top: 3em;
  color: #fff !important;
  text-shadow: none !important;
  border-top: 0 !important;
  background: transparent !important;
  text-align: center;
  margin-bottom: $pad-wide * 1.5;

  a {
    color: #fff !important;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

#content div.pagination {
  margin-top: $pad-wide * 2;
  padding: 0;

  a {
    color: $link-color;
    background: #fff;
    border-radius: 1000px;
    padding: 8px 12px;
    font-family: $sans;
    @include transition(padding .1s linear);

    &:hover {
      color: $link-color-hover;
      @include box-shadow(rgba(255, 255, 255, .15) 0 0 0 6px);
    }
  }

  a.prev, a.next {
    color: #fff;
    background: transparent;
    border-radius: 0;
    padding: 0;
    @include box-shadow(none);

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.entry-content a:hover {
  border-bottom: 1px solid;
}

body #content > div > article {
  background: $main-bg $noise-bg;
  margin-top: $pad-wide;
  padding-top: $pad-wide;
  padding-bottom: $pad-medium;
  @include box-shadow(rgba(0, 0, 0, .15) 0 15px 0 -5px);

  header {
    text-align: center;
    padding-top: 0;

    .meta {
      position: static;
    }
  }

  footer {
    text-align: center;

    [rel=full-article] {
      background: rgba(75, 117, 175, .1);
      padding: 5px 15px;
      border-radius: 32px;
      text-align: center;
      font-size: 16px;
    }
  }

  &:nth-of-type(1)  { @include rotate(0); }
  &:nth-of-type(2)  { @include rotate(-.7deg); }
  &:nth-of-type(3)  { @include rotate(.5deg); }
  &:nth-of-type(4)  { @include rotate(-.9deg); }
  &:nth-of-type(5)  { @include rotate(-1.1deg); }
  &:nth-of-type(6)  { @include rotate(-.5deg); }
  &:nth-of-type(7)  { @include rotate(.3deg); }
  &:nth-of-type(8)  { @include rotate(1.1deg); }
  &:nth-of-type(9)  { @include rotate(-.8deg); }
  &:nth-of-type(10) { @include rotate(1deg); }
}

#blog-archives {

  article footer {
    text-align: left !important;
  }

  time {
    top: 1.4em;
  }

  h1 a:hover {
    color: $link-color-hover;
  }
}

#main {
  margin-top: -$pad-wide * 1.5;
}

article > footer {
  padding-bottom: 0;

  .sharing + .meta {
    position: relative;
    overflow: visible;

    .basic-alignment.left {
      position: absolute;
      text-align: left;
      top: 10px;
      left: 0;
      width: 40%;
    }

    .basic-alignment.right {
      position: absolute;
      text-align: right;
      top: 10px;
      right: 0;
      width: 40%;
    }
  }
}

#content .blog-index article h1 a {
  color: inherit;

  &:hover {
    color: $link-color-hover;
  }
}

.sidebar {
  display: none; // the easiest way
}

.tweet {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: image-url('tweet.png') no-repeat 0 0 ;
  background-size: 50px;
  text-indent: -99999px;
  opacity: .7;
  @include transition(opacity .2s ease);

  &:hover {
    opacity: .9999; // Fix nudging bug on non-retina screens
  }
}