// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$link-color: #4670a8;
//$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25);
$link-color-hover: #ff6427;
$link-color-visited: $link-color;
$link-color-active: adjust-color($link-color-hover, $lightness: -15);

$page-bg: #4670a8;
html {
  background-color: $page-bg;
  background: image-url('bg-pattern.png') no-repeat center top, image-url('bg.jpg') center top;
}

body {
  > header {
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    h1 {
      display: block;

      a {
        background: image-url('logo.png') no-repeat center top;
        width: 380px;
        height: 344px;
        display: block;
        margin: 0 auto;
        text-indent: -99999px;
      }
    }

    h2 {
      display: none;
    }
  }

  > nav {
    display: none;
  }

  > div {
    background: transparent;
    border-bottom: 0;

    > div {
      background: transparent;
      border-right: 0;
    }
  }
}

a {
  color: $link-color;

  &:visited, {
    color: $link-color-visited;
  }

  &:hover, {
    color: $link-color-hover;
  }

  &:active, {
    color: $link-color-active;
  }
}

.toggle-sidebar {
  display: none;
}

body > footer {
  margin-top: 3em;
  color: #fff !important;
  text-shadow: none !important;
  border-top: 0 !important;
  background: transparent !important;
  text-align: center;
  margin-bottom: $pad-wide * 1.5;

  a {
    color: #fff !important;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

#content div.pagination {
  margin-top: $pad-wide * 2;
  padding: 0;

  a {
    color: $link-color;
    background: #fff;
    border-radius: 1000px;
    padding: 15px 20px;
    @include transition(padding .1s linear);

    &:hover {
      @include box-shadow(rgba(255, 255, 255, .15) 0 0 0 6px);
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.entry-content a:hover {
  border-bottom: 1px solid;
}

body #content > div > article {
  background: $main-bg $noise-bg;
  margin-top: $pad-wide;
  padding-top: $pad-wide;
  padding-bottom: $pad-medium;
  @include box-shadow(rgba(0, 0, 0, .15) 0 6px 0 1px);

  header {
    text-align: center;
    padding-top: 0;

    .meta {
      position: static;
    }
  }

  footer {
    text-align: center;

    [rel=full-article] {
      background: rgba(75, 117, 175, .1);
      padding: 5px 15px;
      border-radius: 32px;
      text-align: center;
      font-size: 16px;
    }
  }

  &:nth-of-type(1)  { @include rotate(0); }
  &:nth-of-type(2)  { @include rotate(-.5deg); }
  &:nth-of-type(3)  { @include rotate(.3deg); }
  &:nth-of-type(4)  { @include rotate(-.7deg); }
  &:nth-of-type(5)  { @include rotate(-1deg); }
  &:nth-of-type(6)  { @include rotate(-.3deg); }
  &:nth-of-type(7)  { @include rotate(.2deg); }
  &:nth-of-type(8)  { @include rotate(1deg); }
  &:nth-of-type(9)  { @include rotate(-.7deg); }
  &:nth-of-type(10) { @include rotate(1deg); }
}



#main {
  margin-top: -$pad-wide * 1.5;
}

article > footer {
  padding-bottom: 0;
}

#content .blog-index article h1 a {
  color: inherit;

  &:hover {
    color: $link-color-hover;
  }
}

.sidebar {
  display: none; // the easiest way
}


